<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <!--TODO: Переделать красиво, сейчас страшно-->
    <b>Реестры</b>
                <ul>
                    <li><a href="/register/fl/" >Физические лица</a></li>
                    <li><a href="/register/tech/" >Технические средства</a></li>
                </ul>

   <b>Справочники</b>
        <ul>
            <li><a href="/register/vehiclecolor/" >Цвета техники</a></li>
            <li><a href="/register/country/" >Страны</a></li>
            <li><a href="/register/vehiclebrand/" >Марки техники</a></li>
        </ul>

</body>
</html>