<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
   <!--TODO: Переделать красиво, сейчас страшно-->
    <table>
        <tr>
            <th>Реестры</th>
        </tr>
                <p>
                    <tr><td> <a href="/register/fl/" >Физические лица</a> </td></tr>
                </p>
                <p>
                    <tr><td> <a href="/register/tech/" >Технические средства</a> </td></tr>
                </p>
        <tr>
            <th>Справочники</th>
        </tr>
               <p>
                   <tr><td> <a href="/register/vehiclecolor/" >Цвета техники</a> </td></tr>
               </p>
               <p>
                   <tr><td> <a href="/register/country/" >Страны</a> </td></tr>
               </p>
               <p>
                   <tr><td> <a href="/register/vehiclebrand/" >Марки техники</a> </td></tr>
               </p>

    </table>
</body>
</html>